.tools__container {
    position: absolute;
    bottom: calc(12px + var(--safe-area-inset-bottom));
    width: 100%;
}

.title__container {
    position: absolute;
    top: 8px;
    /*margin-top: 8px;*/
    /*height: 100%;*/
    display: flex;
    text-align: center;
    flex-direction: column;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}