.Persik {
  display: block;
  width: 30%;
  max-width: 240px;
  margin: 20px auto;
}

.button {
  background: linear-gradient(-45deg, #fafafa, #30e0ff, #fafafa, #2ee367,
  #fafafa, #ffb327, #fafafa, #ff79cb, #fafafa);
  background-size: 1100% 1100%;
  animation: gradient 35s ease infinite;
  left: 0;
  color: black;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


.a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.box {
  box-sizing: border-box;
  padding: 18% 12px 8%;
}

.box2 {
  padding: 0 16%;
  text-align: center;
}

.mar {
  margin-left: 12px;
  margin-right: 18px;
}

.d {
  text-align: center;
}

.Group--ios .Group__description {
  padding: 4px 12px 12px;
}


.Banner__expand {
  align-self: center;
  margin-left: 0;
}

.Banner__subheader {
  color: var(--text_primary);
}

.fullContainer {
  padding-top: 16px;
  padding-bottom: 16px;
  background: var(--content_tint_background);
  border-radius: 16px;
  margin-bottom: 10px;
  overflow: hidden;
  margin-top: 12px;
}

.containerProfile {
  padding-right: 12px;
  padding-left: 12px;
}

.onlineHomePage {
  display: flex;
  justify-content: center;
  padding-top: 8px;
}

.profile_preview {
  overflow: hidden;
  padding-top: 12px;
  display: flex;
  border-radius: 10px;
  background-color: var(--content_tint_background);
  flex-direction: column;
  justify-content: center;
  color: var(--text_primary);
}

.profile_preview_container {
  display: flex;
  position: relative;
  border-radius: 10px;
  background-color: var(--content_tint_background);
}

.profile_preview_icon {
  width: 16px;
  height: 24px;
  position: absolute;
  right: 6px;
  top: calc(50% - 12px);
  color: var(--icon_tertiary);
}
