.phrase_message {
    border-radius: 12px;
    background: var(--content_tint_background);
    padding: 6px 12px;
    height: 24px;
    margin: 0 0 4px 4px;
    width: max-content;
}

.phrase_message_container {
    display: flex;
}
