.phrase_button_container {
    padding: 6px 12px 12px;
    float: right;
}

.phrase_button {
    cursor: pointer;
    padding: 12px;
    border-radius: 28px;
    background-color: var(--button_secondary_background);
    width: min-content;
}

/*.phrase_button:active {*/
/*    opacity: .6;*/
/*}*/