#d2 {
  font: 400 1px Open Sans;
  position: absolute;
  color: var(--background_content);
}

#d1 {
  font: 600 1px Open Sans;
  position: absolute;
  color: var(--background_content);
}

.a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.box {
  box-sizing: border-box;
  padding: 18% 12px 8%;
}

.box2 {
  padding: 0 16%;
  text-align: center;
}

.mar {
  margin-left: 12px;
  margin-right: 18px;
}

.d {
  text-align: center;
}

.Group--ios .Group__description {
  padding: 4px 12px 12px;
}


.Banner__expand {
  align-self: center;
  margin-left: 0;
}

.Banner__subheader {
  color: var(--text_primary);
}

.fullContainer {
  padding-top: 16px;
  padding-bottom: 16px;
  background: var(--content_tint_background);
  border-radius: 16px;
  margin-bottom: 10px;
  overflow: hidden;
  margin-top: 12px;
}

.containerProfile {
  padding-right: 12px;
  padding-left: 12px;
}

.onlineHomePage {
  display: flex;
  justify-content: center;
  padding-top: 8px;
}

.profile_preview {
  overflow: hidden;
  padding-top: 12px;
  display: flex;
  border-radius: 10px;
  background-color: var(--content_tint_background);
  flex-direction: column;
  justify-content: center;
  color: var(--text_primary);
}

.profile_preview_container {
  cursor: pointer;
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--content_tint_background);
}

.profile_preview_icon {
  width: 16px;
  height: 24px;
  position: absolute;
  right: 6px;
  top: calc(50% - 12px);
  color: var(--icon_tertiary);
}

.leftStickBlue {
  height: auto;
  width: 4px;
  background-color: #00d8ff;
  margin-right: 12px;
  border-radius: 2px;
}

.leftStickRed {
  height: auto;
  width: 4px;
  background-color: #ff79cb;
  margin-right: 12px;
  border-radius: 2px;
}

.leftStickGreen {
  height: auto;
  width: 4px;
  background-color: #2ee367;
  margin-right: 12px;
  border-radius: 2px;
}

.leftStickYellow {
  height: auto;
  width: 4px;
  background-color: #ffb327;
  margin-right: 12px;
  border-radius: 2px;
}

.Avatar__shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  pointer-events: none;
  z-index: 2;
}

.rateFight_gallery_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Slider__dragger::before {
  background: 0;
}

/*.ModalPage__content {*/
/*  touch-action: auto !important;*/
/*  pointer-events: auto !important;*/
/*  overflow-y: auto !important;*/
/*}*/

/*.ModalPage__in {*/
/*  pointer-events: auto !important;*/
/*  overflow: auto !important;*/
/*}*/

/*.ModalPage {*/
/*  pointer-events: auto !important;*/
/*  overflow-y: auto !important;*/
/*}*/

/*.ModalRoot__modal--dragging {*/
/*  touch-action: auto !important;*/
/*  overflow-y: auto !important;*/
/*}*/

/*.ModalRoot__modal--viewport {*/
/*  pointer-events: auto !important;*/
/*}*/

.twombly {
  width: 100%;
}

.UsersStack--size-s:not(.UsersStack--simple) .UsersStack__photo + .UsersStack__photo {
  clip-path: none !important;
}

.UsersStack--size-m:not(.UsersStack--simple) .UsersStack__photo + .UsersStack__photo {
  clip-path: none !important;
}

.UsersStack--size-m.UsersStack--others:not(.UsersStack--simple) .UsersStack__photo {
  clip-path: none !important;
}

#bigModal.ModalPage__in-wrap {
  transform: translate3d(0px, 0%, 0px);
}

.lastIntroSlide {
  overflow-x: auto !important;
}

.Button {
  cursor: pointer;
}

.PanelHeaderButton {
  cursor: pointer;
}

.Tabs--buttons {
  cursor: pointer;
}

.Radio {
  cursor: pointer;
}

.Checkbox {
  cursor: pointer;
}

.Tabs {
  cursor: pointer;
}