.circle {
    background: var(--accent);
    clip-path: circle(50%);
    height: 50vw;
    width: 50vw;
}

.circle_container {
    height: calc(100vh - 82px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.blur_container {
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100vh - 82px);
    width: 100vw;
    filter: blur(3.6em);
}

.img {
    /*position: fixed;*/
    animation-name: rotation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 80vw;
    width: 80vw;
}

.placeholderPosition {
    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-50%, calc(-50% - 20px));
}

.gallery_position {
    height: calc(100vh - 82px);
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.intro__cell {
    background-size: cover;
    background: var(--content_tint_background);
    margin: 1px;
    border-radius: 10%;
    height: 64px;
    width: 64px;
}


.hideFluid {
    /*animation-name: hide;*/
    /*-webkit-animation-fill-mode: forwards;*/
    /*animation-fill-mode: forwards;*/
    /*animation-duration: 300ms;*/
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*@keyframes hide {*/
/*    from {opacity: unset;} to {opacity: revert;}*/
/*}*/

/*.showFluid {*/
/*    animation-name: show;*/
/*    -webkit-animation-fill-mode: forwards;*/
/*    animation-fill-mode: forwards;*/
/*    animation-duration: 300ms;*/
/*}*/

/*@keyframes show {*/
/*    from {opacity: 0;} to {opacity: 1;}*/
/*}*/

.centered_container {
    position: relative;
    left: 50%;
    top: 50%;
    width: min-content;
    transform: translate(-50%, calc(-50% - 20px));
}