.pulse {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    animation: pulse 1s infinite;
}

.pulseHover {
    border-radius: 50%;
    animation: pulseHover 1s infinite;
}

.players_container {
    padding-top: 16px;
    padding-bottom: 16px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--icon_outline_secondary);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes pulseHover {
    0% {
        -moz-box-shadow: 0 0 0 0 var(--icon_outline_secondary);
        box-shadow: 0 0 0 0 var(--icon_outline_secondary);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 var(--icon_outline_secondary);
        background-color: var(--icon_outline_secondary);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
        background-color: rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        background-color:rgba(204,169,44, 0);
    }
}

