.example-container {
    background: var(--button_outline_border);
    border-radius: 30px;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
}

.big-div{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}